@charset "UTF-8";

#body{
	background-color:white;
	padding:1%;
}

.boardWrite_table{
	width:100%;
	padding:2%;
}

.boardWrite_table th{
	text-align:center;
	padding:1% 2%;
	width: 20%;
	color:white;
	background-color:#303030;
}

.boardWrite_table td{
	padding:1% 2%;
}

#boardWrite_title{
	width:100%;
	border-style:none;
}

#boardWrite_duration{
	width:100%;
	border-style:none;
}

#board_btn{
	text-align:center;
}

textarea{
	border-style:none;
}