@charset "UTF-8";

#body{
	background-color:white;
	padding:1%;
	border: solid #d3d3d3 1px;
}

.ND_style1{
	font-weight:bold
}

.ND_style2{
	color:#c9c9c9;
	font-size:75%;
}

.ND_title{
	width:50%;
	display:inline-block;	
}

.ND_udate{
	float:right;
	margin-top:0.5%;
}

.ND_inline{
	display:inline;	
}

.ND_file{
	float:right;
}

#body > .ND_content{
	min-height:200px;
	margin-bottom:1%;
	
}

.ND_content > textarea{
	width:90%;
	min-height:300px;
	border:none;
	overflow:hidden
}

.ND_content img{
	width:350px;
	height:250px;
}

.ND_repSend{
	padding:3%;
	background-color:#efefef;
}

.ND_repContent{
	width:89%;
	border-radius:0.25em;
}

.ND_repSendBtn{
	width:10%;
}

.ND_repSend > input{
	border-radius:0.25em;
	height:50px;
}

.ND_repReceive{
	padding:3%;
	background-color:#efefef;
}

.ND_content_det{
	text-align:center;
	font-size:14px;
	font-weight:bold
}

.detail_profile{
	width:75px;
	height:75px;
}