@charset "UTF-8";

#body{
	width:80%;
	background-color:white;
	padding:2%;
	margin-left:10%
}

#help_table thead{
	text-align:center;
	color:white;
	background-color:#303030;
}

#help_table{
	font-size:13px;
}

#help_table h6{
	border-weight:bold;
	display: inline;
}

.help_answerRow{
	display:none;
}

.help_answer{
	width:100%;
	padding:1%;
	border:none;
}

.help_answerRow input{
	font-size:12px;
	border : solid 1px #1616ba;
	background-color:#1616ba;
	padding:4px;
	color:white;
	border-radius:5px;
} 
.help_write{
	margin-bottom:2%;	
}

.help_write > a{
	float:right;
	font-size:15px;
	border : solid 1px #23a937;
	background-color:#23a937;
	padding:4px;
	color:white;
	border-radius:5px;
}