<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjb.mapper.UserMapper">
	<select id="login" resultType="com.jjb.model.UserVO">
		select userid, userpw, nickname, qualify, profileImg 
		from tbl_user 
		where userid=#{userid} 
		and userpw=#{userpw}
	</select>
	
	<insert id="signUp">
		insert into tbl_user 
		(userid, userpw, username, nickname, email, addr1, addr2, addr3, rdate) 
		values (#{userid},#{userpw},#{username},#{nickname},#{email},#{addr1},#{addr2},#{addr3}, sysdate());
	</insert>
	
	<select id="checkID" resultType="String">
		select userid from tbl_user where userid=#{userid};
	</select>
	
	<select id="checkNick" resultType="String">
		select nickname from tbl_user where nickname=#{nickname};
	</select>
	
	<select id="checkPW" resultType="String">
		select userpw from tbl_user where userid=#{userid};
	</select>
	
	<select id="InfoFromId" resultType="com.jjb.model.UserVO">
		select userid, email, addr1, addr2, addr3 from tbl_user where userid=#{userid};
	</select>
	
	<update id="changeInfo">
		update tbl_user set nickname=#{nickname}, email=#{email}, addr1=#{addr1}, addr2=#{addr2}, addr3=#{addr3}, profileImg=#{profileImg} where userid = #{userid};
	</update>
	
	<update id="changeChefInfo">
		update tbl_chef set profileImg = #{profileImg} where userid = #{userid};
	</update>
	
	<update id="changePw">
		update tbl_user set userpw=#{newPw} where userid=#{userid}; 
	</update>
	
	<delete id="deleteUser">
		delete from tbl_user where userid=#{userid};
	</delete>
	
	<select id="userList" resultType="com.jjb.model.UserVO">
		
		select *
		from (select @rownum:=@rownum+1 as
		rownum, userid, username, nickname, rdate, qualify, profileImg
		from (select @rownum:=0) as rownum
		, tbl_user
		order by rdate desc) tbl_user 
		<![CDATA[
			where rownum >(#{pageNum}-1)*#{amount} and rownum<=#{pageNum}*#{amount}
		]]>
		;
	</select>
	
	<select id="UserCount" resultType="int">
		select count(*) from tbl_user 
		<![CDATA[
		where qualify < 2;
		]]>
	</select>
	
	<update id="grantUser">
		update tbl_user set qualify=1 where userid =#{userid};
	</update>
	
	<insert id="insertChef">
		insert into tbl_chef (userid, nickname, regdate, profileImg) values (#{userid},#{nickname}, sysdate(),#{profileImg})
	</insert>
	
	<update id="revokeUser">
		update tbl_user set qualify=0 where userid =#{userid};
	</update>
	
	<delete id="deleteChef">
		delete from tbl_chef where userid=#{userid}
	</delete>
	
</mapper>